<!DOCTYPE html>
<html>
<head>
  <title>Transactions</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/gif" href="/images/p1.png" />
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/MCB">All Transactions</a>
      </li>
      <li>
        <a href="/MCB/search">Search Transactions</a>
      </li>
    </ul>
    
  </nav>
  <%= yield %>
</body>
</html>